@import url("http://hello.myfonts.net/count/26421d");
 
@font-face {font-family: 'Populaire';src: url('fonts/26421D_0_0.eot');src: url('fonts/26421D_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/26421D_0_0.woff') format('woff'),url('fonts/26421D_0_0.ttf') format('truetype');}

$BLACK:  #222;
$WHITE:  #f8f8f8;
$BLUE:   #00aeef;
$PINK:   #ec008c;
$YELLOW: #fff301;
$GREEN:  #8dc63f;

@mixin populaire {
  font-family: "Populaire", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  @include populaire;
  strong {
    font-weight: inherit;
    color: $BLUE;
  }
}

.progress {
  margin-bottom: 0;
}

header {
  h2 {
    @include populaire;
    font-size: 200%;
    line-height: 1em;
    margin: 0.25em 0;
  }

  .col-lg-1 {
    text-align: right;
  }
  
  .row:first-child div {
    border-top: 1px solid black;
    
    &.col-lg-1 {
      padding-top: 1.25em;
    }
  }
  
  margin-bottom: 1em;
}

.total header {
  .row:first-child div {
    border-top: none;

    &.col-lg-1 {
      padding-top: 2em;
    }
  }
}

.performance {
  page-break-inside: avoid;
  position: relative;
  
  a[data-toggle] {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -15px;
    color: #999;
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  
  &.open a[data-toggle] {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
}

.booking {
  [class*=col-lg] {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #ccc;
    &:first-child {
      margin-left: 15px;
      margin-right: -15px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .col-lg-1 {
    text-align: right;
  }
}

@media print {
  * { color: black !important; }

  body {
    font-size: 12pt;
  }
  
  .progress {
    display: none;
  }
  
  .performance {
    page-break-after: true;
    
    a[data-toggle] {
      display: none;
    }
    
    .collapse {
      display: block;
    }
    
    .booking {
      border-top: 1px solid black;
      padding-left: 0;
      position: relative;
      overflow: hidden;
      
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        border: 1px solid black;
        width: 1em;
        height: 1em;
        font-size: 1.5em;
        line-height: 1em;
        vertical-align: middle;
        text-align: center;
        border-radius: 0.125em;
        box-sizing: border-box;
      }
      
      &.paid:before {
        content: "✔";
      }
      
      > div {
        border-top: none;
        float: left;
        width: 8%;
        box-sizing: border-box;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        line-height: 1.5em;
        vertical-align: middle;
        
        &:first-child {
          padding-left: 1em;
          width: 24%;
        }
        
        &:nth-child(2) { width: 24%; }
        
        a:after {
          display: none;
        }
      }
    }
  }
}
