<html>
  <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <h2>{{show}}</h2>
    <h3>Booking #{{booking}}</h3>
    <p>
      <strong>{{name}}</strong><br/>
      {{#phone}}
        {{phone}}<br/>
      {{/phone}}
      {{#email}}
        {{email}}<br/>
      {{/email}}
    </p>
    {{#comments}}
    <p><strong>Comments:</strong> {{comments}}</p>
    {{/comments}}
    <p>
      {{date}}, {{time}}<br/>
      {{tickets}} &times; ticket(s) @ {{perTicket}} each<br/>
      <strong>Total: {{total}}</strong><br/>
      Payment: {{#internetBanking}}Internet banking{{/internetBanking}}{{^internetBanking}}cash{{/internetBanking}}
    </p>
  </body>
</html>